
@import url('./license.css');
@import url('./perfarmer-theme.css');
@import url('./components/index.css');
@import url('./iphonex-support/index.css');

@import url('../../core/css/grid.css');
@import './components/pie.css';

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./font/Rubik-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('./font/Rubik-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('./font/Rubik-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: bold;
  font-weight: 700;
  src: url('./font/Rubik-Bold.ttf') format('truetype');
}

.button--large--cta.button--perflarge:active { /* stylelint-disable-line */
  background-color: var(--perfarmer-vert-dark);
  opacity: 1;
}

a {
  font-weight: 500;
  color: var(--highlight-color);
}

.perfcenter {
  text-align: center;
}

.content--perfhome__empty {
  display: flex;
  flex-direction: column;
}

.content--perfhome header {
  padding: 30px 0 0 0;
  text-align: center;
}

.content--perfhome header img {
  width: 148px;
  height: 148px;
}

.content--perfhome > section {
  padding: 0 35px 30px 35px;
}

.content--perfhome__empty > section {
  margin: 35px 0 65px 0;
}

.content--perfhome > section p {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--perfarmer-vert);
  text-align: center;
}

.content--perfhome > footer {
  padding: 0 35px;
}

.content--perfdetail {
  padding: 40px 0 70px 0;
  text-align: center;
}

.badge-orange {
  padding: 1px 5px;
  font-size: 15px;
  line-height: 18px;
  color: white;
  background: var(--perfarmer-orange);
  border-radius: 3px;
}

.content--perfalert {
  background: #fff;
  text-align: center;
}

.title--perfalert {
  display: inline-block;
  margin: 20px 0 10px;
  padding: 0 42px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.content--perfalert .list--perflist {
  margin-top: 30px;
}

.content--perfsimul {
  padding: 35px 15px;
  background: #fff;
  text-align: center;
}

.content--perfsimul h2 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.content--perfsimul h3 {
  margin: 0 0 18px 0;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
  line-height: 27px;
}

.result--perfarmer {
  padding-top: 40px;
}

.result--perfarmer p { /* stylelint-disable-line */
  font-size: 15px;
  line-height: 23px;
  color: var(--perfarmer-gris-dark);
}

.result--perfarmer ons-col { /* stylelint-disable-line */
  padding: 0 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 23px;
  color: var(--perfarmer-gris-normal);
}

.result--perfarmer ons-col > img {
  width: 100%;
}

.result--perfarmer ons-col.result--perfarmer__active { /* stylelint-disable-line */
  color: var(--perfarmer-vert);
}

.content--perfinset {
  padding: 0 0 40px 0;
  background: #fff;
}

.content--perfinset > header {
  padding: 41px;
  text-align: center;
}

.content--perfinset > header h2 {
  margin: 20px 0 0 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
}

.content--perfwelcome {
  display: flex;
  flex-direction: column;
}

.content--perfwelcome header {
  flex: 2;
  padding: 50px 42px 20px 42px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content--perfwelcome header img {
  margin: 0 0 0 -24px;
}

.content--perfwelcome header h1 {
  margin: 0 0 20px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
}

.content--perfwelcome header p {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.content--perfwelcome section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 10px 40px;
  background: #fff;
}

.content--perfwelcome section p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 18px;
}

.content--perfwelcome section p + p {
  margin: 0;
}