
@import url('./license.css');
@import url('./perfarmer-theme.css');
@import url('./components/index.css');
@import url('./iphonex-support/index.css');
@import url('../../core/css/grid.css');

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./font/Rubik-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('./font/Rubik-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('./font/Rubik-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: bold;
  font-weight: 700;
  src: url('./font/Rubik-Bold.ttf') format('truetype');
}

a {
  font-weight: 500;
  color: var(--highlight-color);
}

.content--perfhome header {
  padding: 30px 0 0 0;
  text-align: center;
}

.content--perfhome > section {
  padding: 0 35px 30px 35px;
}

.content--perfhome > section p {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--perfarmer-vert);
  text-align: center;
}