
@import url('./license.css');
@import url('./perfarmer-theme.css');
@import url('./components/index.css');
@import url('./iphonex-support/index.css');

@import url('../../core/css/grid.css');
@import './components/pie.css';

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./font/Rubik-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('./font/Rubik-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('./font/Rubik-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: bold;
  font-weight: 700;
  src: url('./font/Rubik-Bold.ttf') format('truetype');
}

.page--white__background {
  background-color: white;
}

.button--large--cta.button--perflarge:active { /* stylelint-disable-line */
  background-color: var(--perfarmer-vert-dark);
  opacity: 1;
}

a {
  font-weight: 500;
  color: var(--highlight-color);
}

.perfcenter {
  text-align: center;
}

.content--perferror {
  margin: 20px;
  padding: 35px;
  border-radius: 4px;
  line-height: 18px;
  font-size: 15px;
  color: white;
  background-color: var(--perfarmer-rouge);
}

.content--perferror span:first-child {
  font-weight: 500;
}

.content--perferror a {
  color: inherit;
}

.content--perfhome__empty {
  display: flex;
  flex-direction: column;
}

.content--perfhome header {
  padding: 30px 0 0 0;
  text-align: center;
}

.content--perfhome header img {
  height: 148px;
}

.content--perfhome > section {
  padding: 0 35px 30px 35px;
}

.content--perfhome__empty > section {
  margin: 35px 0 65px 0;
}

.content--perfhome > section p {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--perfarmer-vert);
  text-align: center;
}

.content--perfhome > footer {
  padding: 0 35px;
}

.content--perfhome > .list--perflist {
  margin-bottom: 20px;
  border-bottom: 1px solid color(var(--perfarmer-gris-very-light));
}

.content--perfdetail {
  padding: 40px 0 20px;
  text-align: center;
  background-color: var(--background-color);
}

.perfdetail-score {
  width: 100%;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  color: var(--perfarmer-gris-very-dark);
  z-index: 3;
}

.perfdetail-score span { /* stylelint-disable-line */
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  line-height: 18px;
  color: var(--list-item-chevron-color);
}

.perfdetail-score span .fa.fa-pen-square {
  color: var(--perfarmer-vert);
  font-size: 24px;
}

.badge-orange {
  padding: 1px 5px;
  font-size: 15px;
  line-height: 18px;
  color: white;
  background: var(--perfarmer-orange);
  border-radius: 3px;
}

.content--perfalert {
  background: #fff;
  text-align: center;
}

.title--perfalert {
  display: inline-block;
  margin: 20px 0 10px;
  padding: 0 42px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.title--perfalert span { /* stylelint-disable-line */
  display: inline-block;
}

.content--perfalert .list--perflist {
  margin-top: 30px;
}

.content--perfinset {
  padding: 0 0 40px 0;
  background: #fff;
}

.content--perfinset > header {
  padding: 41px;
  text-align: center;
}

.content--perfinset > header h2 {
  margin: 20px 0 0 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
}

.content--perfinset > header img {
  height: 42px;
}

.content--perfwelcome {
  display: flex;
  flex-direction: column;
}

.content--perfwelcome header {
  flex: 2;
  padding: 50px 42px 20px 42px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content--perfwelcome header img {
  margin: 0 0 0 -24px;
  height: 145px;
}

.content--perfwelcome header h1 {
  margin: 0 0 20px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
}

.content--perfwelcome header p {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.content--perfwelcome section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 10px 40px;
  background: #fff;
}

.content--perfwelcome section p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 18px;
}

.content--perfwelcome section p + p { /* stylelint-disable-line */
  margin: 0;
}

.content--perfparams > section {
  padding: 0 0 45px 0;
  text-align: center;
  background: var(--perfarmer-vert);
}

.content--perfparams > section > header {
  display: flex;
}

.content--perfparams > section .toolbar__title {
  color: var(--second-highlight-color);
}

.content--perfparams > section > img {
  height: 140px;
  margin: 10px;
}

.content--perfparams > section .list--perfbadge {
  margin: 0 35px;
}

.list--perfbadge .list-item--perfbgvert__title {
  background: var(--perfarmer-vert);
}

.list--perfbadge .list-item--perfbgjaune__title {
  background: var(--perfarmer-jaune);
}

.list--perfbadge .list-item--perfbgorange__title {
  background: var(--perfarmer-orange);
}

.list--perfbadge .list-item--perfbgrouge__title {
  background: var(--perfarmer-rouge);
}

.content--perfalert__empty {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content--perfalert__empty > section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content--perfalert__empty > section img {
  height: 70px;
  margin: 0 0 30px 0;
}

.content--perfalert__empty > section h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.content--perfalert__empty > section p { /* stylelint-disable-line */
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  color: var(--perfarmer-gris-dark);
}

.footer--perfbutton {
  padding: 30px 15px 60px;
}

.footer--perfbutton > p { /* stylelint-disable-line */
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.footer--perfbutton > p a {
  font-weight: 400;
  color: black;
}

.footer--perfbutton > p span { /* stylelint-disable-line */
  font-size: 10px;
  color: var(--perfarmer-gris-dark);
}

.footer--perfbutton .button + p {
  margin: 20px 0 0;
}

.content--perfparams .footer--perfbutton {
  padding-bottom: 10px;
}
